@page "/room_list"
@inject NavigationManager NavManager
@inject DatabaseConnect db

<PageTitle>Room list</PageTitle>

<h1 id="start">List of available rooms:</h1>

<div id="start">
	<select @bind="@selected_value">
		@foreach (string name in @rooms) {
			<option value="@name">@name</option>
		}
	</select>
</div>

<br />

<div id="start">
	<button @onclick=createnewroom>Create a new room</button>
	<button @onclick=enterroom>Enter the chosen room</button>
	<button @onclick=refreshrooms>Refresh the room list</button>
	<button @onclick=leavetomainmenu>Leave to main menu</button>
</div>

@code {
	List<string> rooms { get; set; } = new List<string>();

	protected override void OnInitialized() {
		rooms = db.reloadList();
	}

	string selected_value { get; set; } = "";

	public void createnewroom() {
		db.createNewRoom();

		NavManager.NavigateTo("/game");
	}

	public void enterroom() {
		if (selected_value != "") {
			db.enterRoom(selected_value);

			NavManager.NavigateTo("/game");
		}
	}

	public void refreshrooms() {
		rooms = db.reloadList();
	}

	public void leavetomainmenu() {
		db.movetoMainMenu();
		
		NavManager.NavigateTo("/");
	}
}
